.navbar {
    margin-bottom: 100px;
    margin-top: 0px;
}

.jumbotron{
    background-image: url(/img/jumbotron.jpg) ;
    background-size: cover; 
    height: 50vh;
    width: 100%;
    margin-bottom: 0;
    text-align:center;
}

.jumbotron p{
    margin-top: 5vh;
    left:10px;
    font-size:25px;
    color: blue;
   }

h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

.lead {
    text-align: center;
}

hr { 
    display: block; 
    overflow: hidden; 
    border-style: inset;
    border-width: 1px;
}

img {
    border-radius: 50%;
  }